*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    margin: 0;
}

h1{
    font-size: 48px;
}

h2{
    font-weight: 400;
    font-size: 30px;
}

body{
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to right, #F8F5F2 50%, #3F08A6 50%);
    background-size: cover;
    height: 100vh;
}

span{
    font-family: 'Merriweather', serif;
    color: #3F08A6;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}

.offer-second{
    margin-top: 20px;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.container img{
    position: absolute;
    width: 100vw;
    bottom: 0;
    right: 0;
    object-fit: contain;
}

.offer{
    width: 410px;
    margin-top: 200px;
    margin-left: 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.line{
    display: flex;
    justify-content: space-between
}

.cv-block{
    margin-top: 40px;
    display: flex;
}
.cv-block h2{
    margin-right: 5px;
}

.linkedin{
    background: url("https://i.ibb.co/9wLnP5Z/linkedin.png") no-repeat;
}
.instagram{
    background: url("https://i.ibb.co/jkzMYVW/instagram.png") no-repeat center top;
}
.github{
    background: url("https://i.ibb.co/dK0J3by/github.png") no-repeat center top;
}
.telegram{
    background: url("https://i.ibb.co/dgrb5jK/telegram.png") no-repeat center top;
}
.gmail{
    background: url("https://i.ibb.co/FYdX0N1/gmail.png") no-repeat center top;
}
.phone{
    background: url("https://i.ibb.co/fdKh64J/phone.png") no-repeat center top;
}
.cv{
    background: url("https://i.ibb.co/4MbchbJ/cv.png") no-repeat center top;
}

.line .button{
    margin-top: 40px;
}

.link{
    text-decoration: none;
    cursor: pointer;
}

.button{
    margin: 3px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img{
    max-height: 90vh;
    max-width: 55vw;
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .wrapper {
        width: 960px;
    }
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
    .wrapper {
        width: 720px;
    }
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(to bottom, #F8F5F2 75%, #3F08A6 25%);
    }
    .offer {
        margin-top: 15px;
    }

    .img{
        max-width: 90vw;
    }

    .wrapper {
        width: 540px;
    }
}
/* 320px - 576px */
@media screen and (max-width: 576px) {
    .wrapper {
        width: 100%;
    }

    h1{
        font-size: 32px;
    }
    h2{
        font-weight: 400;
        font-size: 26px;
    }
    span{
        font-size: 32px;
    }

    .img{
        max-width: 90vw;
    }
    .button{
        height: 30px;
        width: 30px;
    }
    .offer{
        width: 280px;
    }
}

@media screen and (max-height: 420px){
    .offer{
        margin-top: 15px;
    }

    .img{
        max-width: 50vw;
    }

    h1{
        font-size: 32px;
    }
    h2{
        font-weight: 400;
        font-size: 26px;
    }
    span{
        font-size: 32px;
    }

    .button{
        height: 30px;
        width: 30px;
    }
    .offer{
        width: 280px;
    }

    body {
        background: linear-gradient(to right, #F8F5F2 75%, #3F08A6 25%);
    }
}